/* Write your CSS here - remember to add Id's or classes to the HTML file */

body {
  background-color: black;
  color: white;
  font-family: "Segoe UI", Verdana, sans-serif;
}

h1,h2 {
  text-align: center;
  font-weight: bold;
}

h1 {
  background-image: url("img/Records.jpg");
  font-size: 100px;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 16px;
}

.orange {
  background-color: #ef8354;
}
.purple {
  background-color: #9c538b;
}
.green {
  background-color: #0e7c7b;
}

#a_color:hover {
  color: #9c528b;
}
#a_color {
  color: #ef8354;
}
